// Colors

$color-primary: #ffcf00;

$color-grey-light: #eee;

$color-platinum: #e5e4e2;
$color-gold: #ffd700;
$color-silver: #c0c0c0;
$color-bronze: #cd7f32;

$color-white: #fff;
$color-black: #000;

// Font

$default-font-size: 1.7rem;
