.footer {
  background-color: $color-black;
  color: $color-white;
  text-align: center;
  height: 10vh;

  &__copy-text {
    font-size: 1rem;
  }
}

.social-box {
  width: 30rem;
  height: 7.5vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icon {
  font-size: 3rem;
}

.social-link {
  text-decoration: none;
  color: $color-white;
}
