.header {
  height: 90vh;
  position: relative;

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    text-align: center;
  }
}
