.header {
  height: 70vh;
  position: relative;
  background-color: $color-primary;

  &__text-box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    text-align: center;
  }

  &__statistics-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 8rem;
  }

  &__statistic {
    margin-top: 0.2rem;
    margin-bottom: 2rem;
  }
}
