body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary {
  line-height: 6rem;

  &--main {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
  }

  &--sub {
    font-size: 1.8rem;
  }
}
