.investors-annual-report {
  height: 90vh;
  background-color: $color-primary;

  &__report {
    text-align: center;
    font-size: 2rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.investors-partners {
  &__text-box {
    margin-bottom: 5rem;
  }
}

.investors-partner-logos {
  display: flex;
  justify-content: space-around;
}

.investors-partner-logo {
  margin: 5rem 0;
  height: 18rem;

  &--bronze {
    height: 10rem;
  }
}

.partner-tier-heading {
  font-size: 4rem;
  text-align: center;
  padding: 1rem;
}

.partner-platinum {
  background-color: $color-platinum;
}

.partner-gold {
  background-color: $color-gold;
  font-size: 3.5rem;
}

.partner-silver {
  background-color: $color-silver;
  font-size: 3rem;
}

.partner-bronze {
  background-color: $color-bronze;
  font-size: 2.5rem;
}
